<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ticket-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-datetime display-format="DD/MMMM/YYYY" [(ngModel)]="record.PurchaseDate" name="PurchaseDate"></ion-datetime>
  </ion-item>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Products
      </ion-label>
      <ion-button slot="end" color="success" expand="block" (click)="addProduct()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item-divider>
  
    <ion-item *ngFor="let product of record.Products">
      <ion-label slot="start">{{ product.Name }}</ion-label>
      <ion-label slot="end">$ {{ product.Price }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="!isNew">
        <ion-button color="danger" expand="block" (click)="delete()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" expand="block" (click)="save()">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
