<ion-tabs>
  <ion-tab-bar selectedTab="tickets" slot="bottom">
    <ion-tab-button tab="tickets">
      <ion-icon name="document"></ion-icon>
      <ion-label>Tickets</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="markets">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Markets</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>